{% if pageCount > 1 %}
    <ul class="pagination">
        {% if first is defined and current != first %}
            <li class="page-item">
                <a class="page-link" onclick="loadPage('{{ path(route, query|merge({(pageParameterName): first})) }}')" href="javascript:void(0)">
                    <<
                </a>
            </li>
        {% endif %}

        {% if previous is defined %}
            <li class="page-item">
                <a class="page-link" onclick="loadPage('{{ path(route, query|merge({(pageParameterName): previous})) }}')" href="javascript:void(0)">
                    <
                </a>
            </li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page-item">
                    <a class="page-link" onclick="loadPage('{{ path(route, query|merge({(pageParameterName): page})) }}')" href="javascript:void(0)">
                        {{ page }}
                    </a>
                </li>
            {% else %}
                <li class="page-item active">
                    <span class="page-link">{{ page }}</span>
                </li>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <li class="page-item">
                <a class="page-link" onclick="loadPage('{{ path(route, query|merge({(pageParameterName): next})) }}')" href="javascript:void(0)">
                    >
                </a>
            </li>
        {% endif %}

        {% if last is defined and current != last %}
            <li class="page-item">
                <a class="page-link" onclick="loadPage('{{ path(route, query|merge({(pageParameterName): last})) }}')" href="javascript:void(0)">
                    >>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
