{% extends 'base.html.twig' %}

{% block title %}Modifier une Offre{% endblock %}

{% block body %}
    <h1>Modifier l'Offre</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div>
            {{ form_label(form.place) }}
            {{ form_widget(form.place) }}
            {{ form_errors(form.place) }}
        </div>

        <div>
            {{ form_label(form.priceInit) }}
            {{ form_widget(form.priceInit) }}
            {{ form_errors(form.priceInit) }}
        </div>

        <div>
            {{ form_label(form.priceAfter) }}
            {{ form_widget(form.priceAfter) }}
            {{ form_errors(form.priceAfter) }}
        </div>

        <div>
            {{ form_label(form.startDate) }}
            {{ form_widget(form.startDate) }}
            {{ form_errors(form.startDate) }}
        </div>

        <div>
            {{ form_label(form.endDate) }}
            {{ form_widget(form.endDate) }}
            {{ form_errors(form.endDate) }}
        </div>

        <div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>

        <div>
            {{ form_label(form.imagePath) }}
            {{ form_widget(form.imagePath) }}
            {{ form_errors(form.imagePath) }}
        </div>

        <button type="submit">Enregistrer les modifications</button>
    {{ form_end(form) }}

    <a href="{{ path('app_offre_index') }}">Retour à la liste</a>
{% endblock %}
