{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container login-container">
    <div class="row">
        <div class="col-md-4 login-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="Logo">
            <h3>New Password</h3>
            <p>Set your new password</p>
        </div>
        <div class="col-md-8">
            <div class="login-form">
                <h3 class="login-heading">Reset your password</h3>
                
                {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword.first) }}
                    {{ form_row(resetForm.plainPassword.second) }}

                    <button class="btnLogin">Reset password</button>
                {{ form_end(resetForm) }}
                
                <div class="register-link">
                    <p>Back to <a href="{{ path('login') }}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 