{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdR</th>
                <th>DateRes</th>
                <th>ModePaiement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.idR }}</td>
                <td>{{ reservation.dateRes ? reservation.dateRes|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.modePaiement }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'idR': reservation.idR}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'idR': reservation.idR}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
