<nav aria-label="Navigation des pages">
{% if totalPages > 1 %}
<ul class="pagination pagination-sm justify-content-center m-0">
  {% if currentPage > 1 %}
    <li class="page-item">
      <a class="page-link" href="{{ path('user_page', {'page': 1}|merge(filterParams|default({}))) }}" data-page="1">
        <i class="fas fa-angle-double-left"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ path('user_page', {'page': currentPage - 1}|merge(filterParams|default({}))) }}" data-page="{{ currentPage - 1 }}">
        <i class="fas fa-angle-left"></i>
      </a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <span class="page-link"><i class="fas fa-angle-double-left"></i></span>
    </li>
    <li class="page-item disabled">
      <span class="page-link"><i class="fas fa-angle-left"></i></span>
    </li>
  {% endif %}
  
  {% for i in max(1, currentPage - 2)..min(totalPages, currentPage + 2) %}
    <li class="page-item {{ currentPage == i ? 'active' : '' }}">
      <a class="page-link" href="{{ path('user_page', {'page': i}|merge(filterParams|default({}))) }}" data-page="{{ i }}">{{ i }}</a>
    </li>
  {% endfor %}
  
  {% if currentPage < totalPages %}
    <li class="page-item">
      <a class="page-link" href="{{ path('user_page', {'page': currentPage + 1}|merge(filterParams|default({}))) }}" data-page="{{ currentPage + 1 }}">
        <i class="fas fa-angle-right"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ path('user_page', {'page': totalPages}|merge(filterParams|default({}))) }}" data-page="{{ totalPages }}">
        <i class="fas fa-angle-double-right"></i>
      </a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <span class="page-link"><i class="fas fa-angle-right"></i></span>
    </li>
    <li class="page-item disabled">
      <span class="page-link"><i class="fas fa-angle-double-right"></i></span>
    </li>
  {% endif %}
</ul>
{% endif %}
</nav> 