{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Edit User: {{ user.name }} {{ user.prenom }}</h6>
                </div>
                <div class="card-body px-4 pt-4 pb-2">
                    
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.name) }}
                                    {{ form_widget(form.name) }}
                                    {{ form_errors(form.name) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.prenom) }}
                                    {{ form_widget(form.prenom) }}
                                    {{ form_errors(form.prenom) }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.password) }}
                                    {{ form_widget(form.password) }}
                                    <small class="form-text text-muted">Leave blank to keep current password</small>
                                    {{ form_errors(form.password) }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.roleUser) }}
                                    {{ form_widget(form.roleUser) }}
                                    {{ form_errors(form.roleUser) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.statut) }}
                                    {{ form_widget(form.statut) }}
                                    {{ form_errors(form.statut) }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.phoneNumber) }}
                                    {{ form_widget(form.phoneNumber) }}
                                    {{ form_errors(form.phoneNumber) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.dateNaiss) }}
                                    {{ form_widget(form.dateNaiss) }}
                                    {{ form_errors(form.dateNaiss) }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <a href="{{ path('user_page') }}" class="btn btn-secondary">Back to Users List</a>
                            </div>
                            <div class="col-md-6 text-end">
                                <button type="submit" class="btn bg-gradient-primary">Save Changes</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 