{% extends 'base.html.twig' %}

{% block title %}SocialMedia{% endblock %}

{% block body %}
    <h1>Social Media Posts</h1>

    <div>
        {% for post in pagination %}
            <div class="post">
                <h2>{{ post.titre }}</h2>
                <p>{{ post.contenu }}</p>
                <p><strong>Lieu:</strong> {{ post.lieu }}</p>
                <p><strong>Date de publication:</strong> {{ post.publicationDate ? post.publicationDate|date('Y-m-d') : '' }}</p>
                <a href="{{ path('app_social_media_show', {'idEB': post.idEB}) }}">Voir les détails</a>
                <form method="post" action="{{ path('app_social_media_delete', {'idEB': post.idEB}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.idEB) }}">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        {% endfor %}
    </div>

    <div>
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('app_social_media_new') }}">Ajouter une nouvelle publication</a>
{% endblock %}
