{% extends 'base.html.twig' %}

{% block title %}Post Details{% endblock %}

{% block body %}
    <h1>{{ social_media.titre }}</h1>
    <p>{{ social_media.contenu }}</p>
    <p><strong>Lieu:</strong> {{ social_media.lieu }}</p>
    <p><strong>Date de publication:</strong> {{ social_media.publicationDate ? social_media.publicationDate|date('Y-m-d') : '' }}</p>
    <a href="{{ path('app_social_media_edit', {'idEB': social_media.idEB}) }}">Editer</a>

    <form method="post" action="{{ path('app_social_media_delete', {'idEB': social_media.idEB}) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ social_media.idEB) }}">
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>

    <a href="{{ path('app_social_media_index') }}">Retour à la liste</a>
{% endblock %}
