{% extends 'base.html.twig' %}

{% block title %}Station index{% endblock %}

{% block body %}
    <h1>Station New</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdS</th>
                <th>Nom</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Capacite</th>
                <th>NombreVelo</th>
                <th>TypeVelo</th>
                <th>PrixHeure</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for station in stations %}
            <tr>
                <td>{{ station.idS }}</td>
                <td>{{ station.nom }}</td>
                <td>{{ station.latitude }}</td>
                <td>{{ station.longitude }}</td>
                <td>{{ station.capacite }}</td>
                <td>{{ station.nombreVelo }}</td>
                <td>{{ station.typeVelo }}</td>
                <td>{{ station.prixHeure }}</td>
                <td>{{ station.pays }}</td>
                <td>
                    <a href="{{ path('app_station_show', {'idS': station.idS}) }}">show</a>
                    <a href="{{ path('app_station_edit', {'idS': station.idS}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_station_new') }}">Create new</a>
{% endblock %}
