{% extends 'base.html.twig' %}

{% block title %}Station{% endblock %}

{% block body %}
    <h1>Station New</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdS</th>
                <td>{{ station.idS }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ station.nom }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ station.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ station.longitude }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ station.capacite }}</td>
            </tr>
            <tr>
                <th>NombreVelo</th>
                <td>{{ station.nombreVelo }}</td>
            </tr>
            <tr>
                <th>TypeVelo</th>
                <td>{{ station.typeVelo }}</td>
            </tr>
            <tr>
                <th>PrixHeure</th>
                <td>{{ station.prixHeure }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ station.pays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_station_index') }}">back to list</a>

    <a href="{{ path('app_station_edit', {'idS': station.idS}) }}">edit</a>

    {{ include('station/_delete_form.html.twig') }}
{% endblock %}
