{% extends 'dashEntreprise/dashboardEntreprise.html.twig' %}

{% block title %}Modifier l'Offre{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    .get-in-touch {
        max-width: 800px;
        margin: 50px auto;
        position: relative;
    }

    .get-in-touch .title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 3.2em;
        line-height: 48px;
        padding-bottom: 48px;
        color: #5543ca;
        background: #5543ca;
        background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
        background: -webkit-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
        background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
    }

    .contact-form .form-field {
        position: relative;
        margin: 32px 0;
    }

    .contact-form .input-text {
        display: block;
        width: 100%;
        height: 36px;
        border-width: 0 0 2px 0;
        border-color: #5543ca;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
    }

    .contact-form .input-text:focus {
        outline: none;
    }

    .contact-form .label {
        position: absolute;
        left: 20px;
        bottom: 11px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: #5543ca;
        cursor: text;
        transition: transform 0.2s ease-in-out;
    }

    .contact-form .submit-btn {
        display: inline-block;
        background-color: #000;
        background-image: linear-gradient(125deg, #a72879, #064497);
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        padding: 8px 16px;
        border: none;
        width: 200px;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Modifier l'Offre</h6>
            </div>
            <div class="card-body px-4 pt-0 pb-2">
                <section class="get-in-touch">
                    <h1 class="title">Modifier l'Offre</h1>
                    {{ form_start(form, {'method': 'POST', 'attr': {'class': 'contact-form row', 'novalidate': 'novalidate'}}) }}
                    <div class="row">
                        <div class="form-field col-lg-6">
                            {{ form_row(form.place, {'attr': {'class': 'input-text'}}) }}
                        </div>
                        <div class="form-field col-lg-6">
                            {{ form_row(form.priceInit, {'attr': {'class': 'input-text'}}) }}
                        </div>
                        <div class="form-field col-lg-6">
                            {{ form_row(form.priceAfter, {'attr': {'class': 'input-text'}}) }}
                        </div>
                        <div class="form-field col-lg-6">
                            {{ form_row(form.startDate, {'attr': {'class': 'input-text'}}) }}
                        </div>
                        <div class="form-field col-lg-6">
                            {{ form_row(form.endDate, {'attr': {'class': 'input-text'}}) }}
                        </div>
                        <div class="form-field col-lg-6">
                            {{ form_row(form.description, {'attr': {'class': 'input-text'}}) }}
                        </div>
                        <div class="form-field col-lg-6">
                            {{ form_row(form.imagePath, {'attr': {'class': 'input-text'}}) }}
                        </div>
                        <div class="form-field col-lg-6">
                            {{ form_row(form.numberLimit, {'attr': {'class': 'input-text'}}) }}
                        </div>
                        <div class="form-field col-lg-6">
                            {{ form_row(form.aidesc, {'attr': {'class': 'input-text'}}) }}
                        </div>
                        <div class="form-field col-lg-12 text-center">
                            <button class="submit-btn">Enregistrer les modifications</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
