{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_U</th>
                <th>Name</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Password</th>
                <th>RoleUser</th>
                <th>DateNaiss</th>
                <th>PhoneNumber</th>
                <th>Statut</th>
                <th>Diamond</th>
                <th>DeleteFlag</th>
                <th>ImagesU</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.idU }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.prenom ?? '' }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.roleUser }}</td>
                <td>{{ user.dateNaiss ? user.dateNaiss|date('Y-m-d') : '' }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.statut }}</td>
                <td>{{ user.diamond }}</td>
                <td>{{ user.deleteFlag }}</td>
                <td>{{ user.imagesU }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id_U': user.idU}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id_U': user.idU}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
